//colors
$primary: #34495e;
$light: #345e5e;
$dark: #263544;
$accent: #34345e;

//spacing
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;
$desktop-breakpoint: 48rem;
$small-screen-breakpoint: 35rem;
$tablet-breakpoint: 22rem;
