.Skill {
  text-align: center;
  padding: 1.4rem;

  .icon {
    font-size: 4rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 5px;
  }

  .description {
    font-weight: 300;
  }
}